.modal-dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  -webkit-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
  opacity: 0;
  pointer-events: none;
}
.modal-dialog.active {
  opacity: 1;
  pointer-events: auto;
}
.modal-dialog > div {
  width: 600px;
  color: #333;
  position: relative;
  margin: 10% auto;
  background: #eee;
  overflow-y: auto;
}
.modal-dialog > div > .modal-title {
  padding: 4px;
  background-color: #bbb;
  font-size: 140%;
}
.modal-dialog > div > .modal-content {
  padding: 4px;
  background-color: #eee;
}
.modal-dialog > div > .modal-content > .step > .help {
  padding-bottom: 4px;
}
.modal-dialog > div > .modal-content > .step > .table-wrapper {
  width: 100%;
  overflow: auto;
}
.modal-dialog > div > .modal-content > .step > .table-wrapper > .table {
  height: 200px;
  overflow: auto;
  font-family: "Menlo", monospace;
}
.modal-dialog > div > .modal-content > .step > .table-wrapper > .table > .data-row > .data-cell {
  display: inline-block;
  cursor: pointer;
  font-size: 80%;
  background-color: #ccc;
  padding: 2px;
}
.modal-dialog > div > .modal-content > .step > .table-wrapper > .table > .data-row > .data-cell.odd {
  background-color: #ddd;
}
.modal-dialog > div > .modal-content > .step > .table-wrapper > .table > .data-row > .data-cell.selected {
  background-color: #6b3;
  color: #cea;
}
.modal-dialog > div > .modal-content > .step > .table-wrapper > .table > .data-row > .data-cell.unselectable {
  background-color: #f30;
  color: #fc9;
}
.modal-dialog > div > .modal-content > #step3 > #step3_help {
  padding-bottom: 4px;
}
.modal-dialog > div > .modal-content > #step3 > #step3_datatable_wrapper {
  width: 100%;
  overflow: auto;
}
.modal-dialog > div > .modal-content > #step3 > #step3_datatable_wrapper > #step3_datatable {
  height: 200px;
  overflow: auto;
  font-family: "Menlo", monospace;
}
.modal-dialog > div > .modal-content > #step3 > #step3_datatable_wrapper > #step3_datatable > .data-row > .data-cell {
  width: 100px;
  display: inline-block;
  cursor: pointer;
  font-size: 80%;
  background-color: #ccc;
  padding: 2px;
}
.modal-dialog > div > .modal-content > #step3 > #step3_datatable_wrapper > #step3_datatable > .data-row > .data-cell.odd {
  background-color: #ddd;
}
.modal-dialog > div > .modal-content > #step3 > #step3_datatable_wrapper > #step3_datatable > .data-row > .data-cell.selected {
  background-color: #6b3;
  color: #cea;
}
.modal-dialog > div > .modal-buttons {
  padding: 0 4px 4px 4px;
}
.modal-dialog > div > .modal-buttons > input[type=button] {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 80%;
}
.modal-dialog > div > .modal-buttons > #back,
.modal-dialog > div > .modal-buttons > #next {
  background: #666;
  color: #eee;
}
.modal-dialog > div > .modal-buttons > #back:hover,
.modal-dialog > div > .modal-buttons > #next:hover {
  background: #6b3;
  color: #cea;
}
.modal-dialog > div > .modal-buttons > #cancel {
  background: #999;
  color: #ccc;
}
.modal-dialog > div > .modal-buttons > #cancel:hover {
  background: #f30;
  color: #fc9;
}
