// http://colorschemedesigner.com/#01420ZRw0lXot

@blue-text: #36f;
@blue-border: #9af;
@blue-bg: #ace;

@yellow-text: #963;
@yellow-border: #dc4;
@yellow-bg: #fe7;

@green-text: #6b3;
@green-border: #ae9;
@green-bg: #cea;

@red-text: #f30;
@red-border: #fa7;
@red-bg: #fc9;

@grey-text: #888;
@grey-border: #ccc;
@grey-bg: #ddd;

html, body {
  font-family: 'Ubuntu', sans-serif;
  color: #222;
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 480px;
  min-width: 720px;
}

.hidden {
  display: none;
}

.text-unselectable {
  // see http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#container {
  .text-unselectable;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

#table {
  height: 100%;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

tr, td {
  vertical-align: top;
  padding: 0;
  margin: 0;
}

#header {
  height: 45px;
  border-bottom: 1px solid #999;
}

#banner {
  background-color: #ccc;
  padding: 4px;
}

#title {
  font-size: 32px;
  color: #333;
  display: inline-block;
}

#subtitle {
  font-size: 16px;
  color: #999;
  display: inline-block;
}

#viewer {
  background-color: #bbb;
}

#svg_execute_wrapper {
  margin: 4px 4px 2px 4px;
  border: 1px solid #999;
  background-color: #f7f7f7;
  position: relative;
}

@footer-height: 240px;
@repl-border: 1px;
@repl-margin: 4px;
@repl-padding: 4px;

@toolbox-width: 200px;
@palette-border: 1px;
@palette-margin: 4px;

#footer {
  height: @footer-height;
}

#toolbox {
  width: @toolbox-width;
  background-color: #bbb;
}

#palette {
  border: @palette-border solid #999;
  margin: (@palette-margin / 2) (@palette-margin / 2) @palette-margin @palette-margin;
  background-color: #f7f7f7;
  width: (@toolbox-width - (2 * @palette-border + 1.5 * @palette-margin));
  height: (@footer-height - (2 * @palette-border + 1.5 * @palette-margin));
  overflow-y: auto;
}

#interpreter {
  background-color: #bbb;
}

#svg_graph_wrapper {
  margin: 2px 4px 4px 2px;
  border: 1px solid #999;
  background-color: #f7f7f7;
  position: relative;
  height: (@footer-height - (2 * @repl-border + 1.5 * @repl-margin));
  &.droptarget {
    border: 1px solid #6f3;
    background-color: #dfc;
  }
  g.block {
    .text-unselectable;
    cursor: pointer;
    rect.control-point {
      fill: #eee;
      stroke: #999;
    }
  }
  rect.block {
    &.function {
      fill: @yellow-bg;
      stroke: @yellow-border;
    }
    &.object {
      fill: @blue-bg;
      stroke: @blue-border;
    }
    &.number {
      fill: @green-bg;
      stroke: @green-border;
    }
    &.string {
      fill: @red-bg;
      stroke: @red-border;
    }
    &.null {
      fill: @grey-bg;
      stroke: @grey-border;
    }
  }
  text.block {
    &.function {
      fill: @yellow-text;
    }
    &.object {
      fill: @blue-text;
    }
    &.number {
      fill: @green-text;
    }
    &.string {
      fill: @red-text;
    }
    &.null {
      fill: @grey-text;
    }
  }
  line.edge {
    stroke: #aaa;
    stroke-width: 4px;
    &.temp {
      stroke-opacity: 0.4;
    }
  }
}

#repl {
  font-family: "Menlo", monospace;
  background-color: #f7f7f7;
  border: @repl-border solid #999;
  margin: (@repl-margin / 2) @repl-margin @repl-margin (@repl-margin / 2);
  padding: @repl-padding;
  height: (@footer-height - (2 * (@repl-border + @repl-padding) + 1.5 * @repl-margin));
}

div.block {
  .text-unselectable;
  display: inline-block;
  cursor: move;
  min-width: 50px;
  text-align: center;
  padding: 2px;
  margin: 2px;
  // TODO: better typing for blocks
  &.function {
    background-color: @yellow-bg;
    border: 1px solid @yellow-border;
    color: @yellow-text;
  }
  &.object {
    background-color: @blue-bg;
    border: 1px solid @blue-border;
    color: @blue-text;
  }
  &.dragtarget {
    opacity: 0.6;
  }
}
