@import "elements.less";

@blue-text: #36f;
@blue-border: #9af;
@blue-bg: #ace;

@yellow-text: #963;
@yellow-border: #dc4;
@yellow-bg: #fe7;

@green-text: #6b3;
@green-border: #ae9;
@green-bg: #cea;

@red-text: #f30;
@red-border: #fa7;
@red-bg: #fc9;

@grey-text: #888;
@grey-border: #ccc;
@grey-bg: #ddd;

html, body {
  font-family: 'Ubuntu', sans-serif;
  color: #222;
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 480px;
  min-width: 720px;
  overflow: hidden;
}

.hidden {
  display: none;
}

#container {
  // see http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting
  .user-select(none);
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

#drop_overlay {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  &.droptarget {
    background-color: #dfc;
    z-index: 99998;
    opacity: 0.6;
    pointer-events: auto;
  }
}

#resizer {
  position: absolute;
  bottom: 236px;
  width: 100%;
  height: 8px;
  border: 0;
  cursor: ns-resize;
  &.active {
    background-color: @grey-bg;
    height: 6px;
    border: 1px solid @grey-border;
    opacity: 0.6;
  }
}

#table {
  height: 100%;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

tr, td {
  vertical-align: top;
  padding: 0;
  margin: 0;
}

#header {
  height: 45px;
}

#banner {
  background-color: #bbb;
  padding: 4px;
}

#title {
  position: relative;
  top: 3px;
  left: 3px;
  font-size: 32px;
  color: #333;
  display: inline-block;
  padding-right: 7px;
}

#links {
  position: relative;
  top: -4px;
  left: 1px;
  display: inline-block;
  width: 116px;
}

a.nav {
  text-decoration: none;
  background-color: @blue-bg;
  color: @blue-text;
  border: 1px solid @blue-border;
  padding: 2px;
  font-size: 90%;
}

#status {
  background-color: #bbb;
}

#status_wrapper {
  margin: 4px 4px 0 0;
  border: 1px solid #999;
  background-color: #f7f7f7;
  // TODO: compute this
  height: 39px;
  font-size: 90%;
  &.working {
    background-color: @yellow-bg;
    border: 1px solid @yellow-border;
    color: @yellow-text;
  }
  &.ok {
    background-color: @green-bg;
    border: 1px solid @green-border;
    color: @green-text;
  }
  &.not-ok {
    background-color: @red-bg;
    border: 1px solid @red-border;
    color: @red-text;
  }
}
#message {
  display: inline-block;
  padding: 2px;
  height: 33px;
}

#import {
  float: right;
  text-align: right;
  padding: 4px;
  & > #filename {
    font-size: 80%;
    padding-bottom: 2px;
  }
  & > #progress {
    width: 150px;
  }
}

#viewer {
  background-color: #bbb;
}

#svg_execute_wrapper {
  margin: 4px 4px 2px 4px;
  border: 1px solid #999;
  background-color: #f7f7f7;
  position: relative;
}

@footer-height: 240px;
@graph-border: 1px;
@graph-margin: 4px;
@graph-padding: 4px;

@toolbox-width: 250px;
@palette-border: 1px;
@palette-margin: 4px;

#footer {
  height: @footer-height;
}

#toolbox {
  width: @toolbox-width;
  background-color: #bbb;
}

#palette {
  border: @palette-border solid #999;
  margin: (@palette-margin / 2) (@palette-margin / 2) @palette-margin @palette-margin;
  background-color: #f7f7f7;
  width: (@toolbox-width - (2 * @palette-border + 1.5 * @palette-margin));
  height: (@footer-height - (2 * @palette-border + 1.5 * @palette-margin));
  overflow-y: auto;
  &.droptarget {
    border: 1px solid #6f3;
    background-color: #dfc;
  }
  .module-group {
    cursor: pointer;
    margin: 4px;
    background: #eee;
    border: 1px solid #ccc;
    .module-name {
      padding: 4px;
      font-size: 90%;
      background: #d7d7d7;
    }
    .module-contents {
      border-top: 1px solid #ccc;
      padding: 4px;
    }
  }
}

#interpreter {
  background-color: #bbb;
}

#svg_graph_wrapper {
  margin: 2px 4px 4px 2px;
  border: 1px solid #999;
  background-color: #f7f7f7;
  position: relative;
  height: (@footer-height - (2 * @graph-border + 1.5 * @graph-margin));
  &.droptarget {
    border: 1px solid #6f3;
    background-color: #dfc;
  }
  g.block {
    .user-select(none);
    cursor: pointer;
    rect.hit {
      fill: #ddd;
      stroke: #999;
      &.hover {
        fill: #aaa;
        stroke: #777;
      }
    }
  }
  rect.block {
    &.function {
      fill: @yellow-bg;
      stroke: @yellow-border;
    }
    &.channel {
      fill: @blue-bg;
      stroke: @blue-border;
    }
    &.number, &.string {
      fill: @green-bg;
      stroke: @green-border;
    }
    &.null {
      fill: @red-bg;
      stroke: @red-border;
    }
  }
  text.block {
    &.function {
      fill: @yellow-text;
    }
    &.channel {
      fill: @blue-text;
    }
    &.number, &.string {
      fill: @green-text;
    }
    &.null {
      fill: @red-text;
    }
  }
  line.edge {
    stroke: #aaa;
    stroke-width: 3px;
    &.temp {
      stroke-opacity: 0.4;
    }
  }
}

div.block {
  .user-select(none);
  display: inline-block;
  cursor: move;
  min-width: 50px;
  text-align: center;
  padding: 2px;
  margin: 2px;
  // TODO: better typing for blocks
  &.function {
    background-color: @yellow-bg;
    border: 1px solid @yellow-border;
    color: @yellow-text;
  }
  &.channel {
    background-color: @blue-bg;
    border: 1px solid @blue-border;
    color: @blue-text;
  }
  &.number, &.string {
    background-color: @green-bg;
    border: 1px solid @green-border;
    color: @green-text;
  }
  &.dragtarget {
    opacity: 0.6;
  }
}

#svg_graph_controls {
  position: absolute;
  top: 0;
  right: 0;
  & .control {
    display: inline-block;
    background-color: @grey-bg;
    border: 1px solid @grey-border;
    color: @grey-text;
    width: 50px;
    text-align: center;
    padding: 2px;
    margin: 2px 2px 2px -4px;
    cursor: pointer;
  }
}
