// see http://www.webdesignerdepot.com/2012/10/creating-a-modal-window-with-html5-and-css3/

.modal-dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  -webkit-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
  opacity: 0;
  pointer-events: none;
  &.active {
    opacity: 1;
    pointer-events: auto;
  }
  & > div {
    width: 600px;
    color: #333;
    position: relative;
    margin: 10% auto;
    background: #eee;
    overflow-y: auto;
    & > .modal-title {
      padding: 4px;
      background-color: #bbb;
      font-size: 140%;
    }
    & > .modal-content {
      padding: 4px;
      background-color: #eee;
      & > #step1 {
        & > #step1_help {
          padding-bottom: 4px;
        }
        & > #step1_linetable {
          height: 200px;
          overflow: auto;
          font-family: "Menlo", monospace;
          & > .line-raw {
            cursor: pointer;
            font-size: 80%;
            background-color: #ccc;
            padding: 2px;
            &.odd {
              background-color: #ddd;
            }
            &.selected {
              background-color: #6b3;
              color: #cea;
            }
            & > .line-number {
              display: inline-block;
              width: 50px;
              font-size: 80%;
            }
            & > .line {
              padding-left: 4px;
              display: inline-block;
            }
          }
        }
      }
      & > #step2 {
        & > #step2_help {
          padding-bottom: 4px;
        }
        & > #step2_datatable {
          height: 200px;
          overflow: auto;
          font-family: "Menlo", monospace;
        }
      }
    }
    & > .modal-buttons {
      padding: 0 4px 4px 4px;
      & > input[type=button] {
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        font-size: 80%;
      }
      & > #back, & > #next {
        background: #666;
        color: #eee;
        &:hover {
          background: #6b3;
          color: #cea;
        }
      }
      & > #cancel {
        background: #999;
        color: #ccc;
        &:hover {
          background: #f30;
          color: #fc9;
        }
      }
    }
  }
}
