// see http://www.webdesignerdepot.com/2012/10/creating-a-modal-window-with-html5-and-css3/

.modal-dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
  pointer-events: none;
  &.active {
    opacity: 1;
    pointer-events: auto;
  }
  & > div {
    width: 600px;
    color: #333;
    position: relative;
    margin: 10% auto;
    padding: 3px 12px 8px 12px;
    background: #fff;
    border-radius: 12px;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
    & > .modal-subtitle {
      background: rgba(0, 0, 0, 0.2);
      padding: 4px;
      font-size: 80%;
    }
    & > .modal-content {
      background: rgba(0, 0, 0, 0.1);
      padding: 4px;
      & > .form-row {
        width: 100%;
        & > .form-row-title {
          font-size: 120%;
        }
      }
      div.checkbox {
        display: inline-block;
        text-align: center;
        font-size: 80%;
        padding: 3px;
        width: 191px;
      }
    }
  }
  #prefix {
    font-size: 120%;
    width: 400px;
    margin: 4px 0 8px 0;
  }
  #modal_ok {
    background: #666;
    color: #eee;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    font-size: 100%;
    font-weight: bold;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000; 
    &:hover {
      color: #cea;
      background: #6b3;
    }
  }
}
