path.channel {
  fill: none;
  stroke-width: 2px;
}

line.channel-separator {
  stroke-width: 1px;
  stroke: #aaa;
}

text.channel-caption {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 110%;
}

g.axis {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 80%;
  line {
    stroke-width: 1px;
    stroke: #ddd;
  }
  path {
    fill: none;
    stroke: none;
    stroke-width: 1.5px;
  }
}
